body {
	background-color: #fafafa;
	color: #333333;
	font-family: calluna, serif;
    font-style: normal;
    font-weight: 300;
}

div.container {
	max-width: 40em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}

figcaption {
    font-style: italic;
    font-size: .9em; 
	font-weight: 300;
    padding:0.5em 0;
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: 0; 
	font-size: 1em; 
	font-weight: normal;
}

h1 {
	font-size: 2.5em; 
	font-weight: 600;
    padding:0.4em 0.2em;
}

h2 {
	font-size: 2em; 
	font-weight: 400;
    padding:0.4em 0.2em;
    background-color: lightgray
}

h3 {
	font-size: 1.5em; 
	font-weight: 300;
    padding:0.4em 0.2em;
}
